<font color='red' size="6"><b> ch09. 파일 i/o 프로그래밍</b></font>

# 1절. 파일에 데이터 저장하고 불러오기

In [1]:
# w 또는 wt : 기존의 파일이 있는 경우 덮어쓰기로 쓰기 모드 , 파일이 없는 경우 생성하여 쓰기
# a 또는 at : 기존의 파일이 있는 경우 append (끝에 추가), 파일이 없는 경우 생성하여 쓰기
#      쓰기 모드는 폴더가 없는 경우 예외발생
# r 또는 rt : 기족의 파일을 읽는 경우, 파일이 없는 경우 예외 발생
f = open('data/ch09_sample.txt', 'w')
print(f.writable())

True

In [2]:
f.write('Hello\nWorld\nHello\nPython\n') # 한글을 write하면 CP949로 저장 (win)
f.close()

In [3]:
# with구문으로 파일을 열어 close하는 코드가 불필요
with open('data/ch09_sample.txt','wt') as f:
    print('쓰기 가능한지 여부 :',f.writable())
    f.write('Python is easy\n Python is smart\n')

쓰기 가능한지 여부 : True

In [4]:
with open('data/ch09_sample.txt', 'at') as f:
    print('프린트 함수로 파일 쓰기가 가능합니다 - 콘솔출력')
    print('프린트 함수로 파일 쓰기가 가능합니다 - 파일출력', file=f)

프린트 함수로 파일 쓰기가 가능합니다 - 콘솔출력

- euc-kr : 한글완성형 (믜x)
- cp949 : 확장된 한글완성형 (믜o) - 엑셀에서
- utf-8 : 한글조합형 (초중종성 따로 조합해서 저장) - 주피터노트북에서

In [5]:
with open('data/ch09_sample.txt','w',encoding='utf-8') as f:
    f.write('= 여러 줄의 text를 쓰기 =\n')
    f.write('1방법 : Hello\nWorld\n')
    textlist = ['홍길동, 30, 서울\n', '김길동, 20, 안양\n']
    f.write('2방법 : \n')
    for line in textlist:
        f.write(line)
    f.write('3방법 : \n')
    f.writelines(textlist)

In [6]:
# 파일을 한줄 읽고 출력, 한줄 읽고 출력, ...
with open('data/ch09_sample.txt','r', encoding='utf-8') as f:
    line = f.readline() # 한줄 읽기
    while line != '':
        print(line, end='') # 파일에 \n이 포함되어서 출력시 개행은 제거
        line = f.readline()

= 여러 줄의 text를 쓰기 =
1방법 : Hello
World
2방법 :
홍길동, 30, 서울
김길동, 20, 안양
3방법 :
홍길동, 30, 서울
김길동, 20, 안양

In [7]:
# 파일을 한꺼번에 여러줄 읽어 list로 return
with open('data/ch09_sample.txt','rt', encoding='utf-8') as f:
    lines = f.readlines() # list로 return
    print(lines)

['= 여러 줄의 text를 쓰기 =\n', '1방법 : Hello\n', 'World\n', '2방법 : \n', '홍길동, 30, 서울\n', '김길동, 20, 안양\n', '3방법 : \n', '홍길동, 30, 서울\n', '김길동, 20, 안양\n']

In [8]:
for line in lines:
    print(line, end='')

= 여러 줄의 text를 쓰기 =
1방법 : Hello
World
2방법 :
홍길동, 30, 서울
김길동, 20, 안양
3방법 :
홍길동, 30, 서울
김길동, 20, 안양

# 2절. 피클을 이용한 객체 저장 및 불러오기
## 2.1 형식이 있는 텍스트 데이터 불러오기

In [9]:
with open('data/ch09_member.txt', 'r', encoding='utf-8') as f:
    lines = f.readlines()
#     print(lines)
for line in lines:
#     print(line)
    data = line.strip().split(',')
    name = data[0]
    age = int(data[1].strip()) # strip : 앞뒤 white space 제거
    email = data[2].strip()
    address = data[3].strip()
    print('이름:{}, 나이:{}, 메일:{}, 주소:{}'.format(name, age, email, address))

In [10]:
class Member:
    def __init__(self, name, age, email, address):
        self.name = name
        self.age = age
        self.email = email
        self.address = address
    def __str__(self):
        return '이름:{}, 나이:{}, 메일:{}, 주소:{}'.format(self.name, self.age, self.email, self.address)
    def as_dict(self): # 객체를 딕셔너리로 바꿔 return
        return {'name' : self.name,
                'age' : self.age,
                'email' : self.email,
                'address' : self.address}

In [11]:
user = Member('홍길동', 22, 'hong@hong.com', '서울')
print(user) # __str__ test
print(user.as_dict()) # as_dict test

이름:홍길동, 나이:22, 메일:hong@hong.com, 주소:서울
{'name': '홍길동', 'age': 22, 'email': 'hong@hong.com', 'address': '서울'}

In [12]:
# 파일의 내용을 member list나 딕셔너리로 list로 읽기
user_list = [] # member list
user_dict = [] # 딕셔너리 list
with open('data/ch09_member.txt','rt', encoding='utf-8') as f:
    lines = f.readlines()
    for line in lines:
        data = line.strip().split(',')
        name = data[0]
        age = data[1].strip()
        email = data[2].strip()
        address = data[3].strip()
        user = Member(name, age, email, address)
        user_list.append(user)
        user_dict.append(user.as_dict())

In [13]:
# user_list(객체 list)
for user in user_list:
    print(user)

In [14]:
# user_dict(딕셔너리 list)
user_dict

[]

## 2.2 피클링

In [15]:
class Member:
    def __init__(self, name, age, email, address):
        self.name = name
        self.age = age
        self.email = email
        self.address = address
    def __str__(self):
        return '이름:{}, 나이:{}, 메일:{}, 주소:{}'.format(self.name, self.age, self.email, self.address)
    def __eq__(self, other):
        '''
        user1.__eq__(user2) 호출시 user1의 속성변수들과 user2의 속성변수들이 모두 같은지 여부
        '''
        if isinstance(other, Member):
            return self.name==other.name and self.age==other.age and self.email==other.email and self.address==other.address
        else:
            return False
    def as_dict(self): # 객체를 딕셔너리로 바꿔 return
        return {'name' : self.name,
                'age' : self.age,
                'email' : self.email,
                'address' : self.address}
user1 = Member('홍길동', 20, 'h@h.com', '서울')
user2 = Member('홍길동', 20, 'h@h.com', '서울')
print(user1.__eq__(user2))
print(user1 == user2)

True
True

In [16]:
user1 = Member('홍길동', 20, 'h@h.com', '서울')
user2 = Member('김길동', 25, 'k@h.com', '인천')
user3 = Member('신길동', 30, 's@h.com', '포천')
user_list = [user1, user2, user3]

In [17]:
for user in user_list:
    print(user)

이름:홍길동, 나이:20, 메일:h@h.com, 주소:서울
이름:김길동, 나이:25, 메일:k@h.com, 주소:인천
이름:신길동, 나이:30, 메일:s@h.com, 주소:포천

In [18]:
# 피클링을 이용한 객체를 파일에 저장하기
import pickle
with open('data/ch09_member.data', 'wb') as f:
    pickle.dump(user_list, f)

In [19]:
del user1, user2, user3

In [20]:
# 피클링을 이용한 파일에서 객체 데이터 읽기
with open('data/ch09_member.data', 'rb') as f:
    load_user_list = pickle.load(f)

In [21]:
for user in load_user_list:
    print(user)

이름:홍길동, 나이:20, 메일:h@h.com, 주소:서울
이름:김길동, 나이:25, 메일:k@h.com, 주소:인천
이름:신길동, 나이:30, 메일:s@h.com, 주소:포천

In [22]:
# user_list 와 load_user_list가 모두 같은지 여부를 확인하는 작업
result = []
for idx in range(len(user_list)):
    result.append(user_list[idx]==load_user_list[idx])
result

[True, True, True]

In [23]:
all(result) # 모든 요소들이 True인지 여부

True

# 3절. csv 형식 파일 읽고 쓰기
- CSV 파일의 자료를 리스트 데이터로 읽기 3.1과 3.2방법
- CSV 파일의 자료를 딕셔너리 데이터로 읽기 3.3과 3.4방법

## 3.1 reader

In [24]:
#  utf-8 인코딩된 csv파일 읽기
import csv
with open('data/ch09_member1.csv', 'r', encoding='utf-8') as f:
    reader = csv.reader(f)
#     print(list(reader))
    for row in reader:
        print(row)

['홍길동', '20', 'kildong@hong.com', '서울시 관악구']
['김길동', '25', 'kimdong@hong.com', '서울시 동작구']
['신길동', '21', 'sindong@hong.com', '서울시 금천구']

In [25]:
# cp949로 인코딩된 csv 파일 read
with open('data/ch09_member1-cp.csv') as f:
    reader = csv.reader(f)
    result = list(reader)
# print(result)
for row in result:
    print(' - '.join(row))

홍길동 - 20 - kildong@hong.com - 서울시 관악구 -
김길동 - 25 - kimdong@hong.com - 서울시 동작구 - 주임
신길동 - 21 - sindong@hong.com - 서울시 금천구 -

In [26]:
# "" (따옴표) 가 없는 데이터는 rumeric으로
with open('data/ch09_member1.csv', encoding='utf-8') as f:
    reader = csv.reader(f, quotechar='"', quoting=csv.QUOTE_NONNUMERIC)
    for row in reader:
        print(row)

['홍길동', 20.0, 'kildong@hong.com', '서울시 관악구']
['김길동', 25.0, 'kimdong@hong.com', '서울시 동작구']
['신길동', 21.0, 'sindong@hong.com', '서울시 금천구']

In [27]:
# csv 파일의 내용을 딕셔너리 리스트로 가져오기
user_dict = []
with open('data/ch09_member1.csv', encoding='utf-8') as f:
    reader = csv.reader(f, quotechar='"', quoting=csv.QUOTE_NONNUMERIC)
    for row in reader:
        user_dict.append({'name':row[0],
                         'age':row[1],
                         'email':row[2],
                         'address':row[3]})
print('파일에서 읽어온 딕셔너리 리스트')
print(user_dict, end='')

파일에서 읽어온 딕셔너리 리스트
[{'name': '홍길동', 'age': 20.0, 'email': 'kildong@hong.com', 'address': '서울시 관악구'}, {'name': '김길동', 'age': 25.0, 'email': 'kimdong@hong.com', 'address': '서울시 동작구'}, {'name': '신길동', 'age': 21.0, 'email': 'sindong@hong.com', 'address': '서울시 금천구'}]

## 3.2 writer

In [28]:
user_list = [['홍길동',20,'hong@hong.com','서울'],
            ['신길동',30,'sin@hong.com','경기도'],]

In [29]:
# newline='' 옵션을 빼면 개행이 2번 됩니다
try:
    with open('data/ch09_member2-write.csv', 'w', newline='') as f:
        writer = csv.writer(f)
        for user in user_list:
            writer.writerow(user)
except FileNotFoundError as e:
    print(e)

In [30]:
with open('data/ch09_member2-write.csv', 'w',encoding='utf-8', newline='') as f:
    writer = csv.writer(f, quoting=csv.QUOTE_NONNUMERIC)
    writer.writerows(user_list)

## 3.3 DictReader
- csv 파일의 자료를 딕셔너리 데이터 읽기

In [31]:
# header 가 있는 csv 파일을 딕셔너리로 읽기(ch09_member3.csv)
with open('data/ch09_member3.csv', 'r', encoding='utf-8', newline='') as f:
    dict_reader = csv.DictReader(f)
#     print(list(dict_reader))
    for row in dict_reader:
        if row['job'] is None:
            print(row['name'], row['age'], row['email'], row['address'])
        else:
            print(row['name'], row['age'], row['email'], row['address'], row['job'])

홍길동 20 h@h.com 서울시 관악구
김길동 40 k@h.com 서울시 동작구 팀장
신길동 30 s@h.com 서울시 영등포구

In [32]:
# cf. csv파일을 데이터 프레임으로 
import pandas as pd
member = pd.read_csv('data/ch09_member3.csv') # encoding='utf-8'이 기본값
member

  name  age    email   address  job
0  홍길동   20  h@h.com   서울시 관악구  NaN
1  김길동   40  k@h.com   서울시 동작구   팀장
2  신길동   30  s@h.com  서울시 영등포구  NaN

In [33]:
type(member)

pandas.core.frame.DataFrame

In [34]:
# header가 없는 csv 파일을 딕셔너리로 읽기(ch09_member1-cp.csv)
with open('data/ch09_member1-cp.csv', 'r', encoding='cp949') as f:
    dict_reader = csv.DictReader(f, fieldnames=['Name','Age','Email','Address'])
    for row in dict_reader:
#         print(row)
        print(row['Name'], row['Age'], row['Email'], row['Address'])

홍길동 20 kildong@hong.com 서울시 관악구
김길동 25 kimdong@hong.com 서울시 동작구
신길동 21 sindong@hong.com 서울시 금천구

In [35]:
# header가 없는 csv 파일을 딕셔너리로 읽기(ch09_member1-cp.csv)
with open('data/ch09_member1-cp.csv', 'r', encoding='cp949') as f:
    dict_reader = csv.DictReader(f, fieldnames=['Name','Age','Email','Address','Job'])
    for row in dict_reader:
        print(row)
#         print(row['Name'], row['Age'], row['Email'], row['Address'], row['Job'])

{'Name': '홍길동', 'Age': '20', 'Email': 'kildong@hong.com', 'Address': '서울시 관악구', 'Job': ''}
{'Name': '김길동', 'Age': '25', 'Email': 'kimdong@hong.com', 'Address': '서울시 동작구', 'Job': '주임'}
{'Name': '신길동', 'Age': '21', 'Email': 'sindong@hong.com', 'Address': '서울시 금천구', 'Job': ''}

In [36]:
# header가 없는 csv 파일을 딕셔너리로 읽기(ch09_member1-cp.csv)
with open('data/ch09_member1-cp.csv', 'r', encoding='cp949') as f:
    dict_reader = csv.DictReader(f, fieldnames=['Name','Age','Email','Address'], restkey='Job')
    for row in dict_reader:
#         print(row)
        if row['Job'][0] == '':
            print(row['Name'], row['Age'], row['Email'], row['Address'])
        else:
            print(row['Name'], row['Age'], row['Email'], row['Address'], row['Job'][0])

홍길동 20 kildong@hong.com 서울시 관악구
김길동 25 kimdong@hong.com 서울시 동작구 주임
신길동 21 sindong@hong.com 서울시 금천구

In [37]:
# ch09_member1-cp.csv의내용을 딕셔너리 list로 받아보세요
userlist = [] # 딕셔너리 list
with open('data/ch09_member1-cp.csv', 'r', encoding='cp949') as f:
    dict_reader = csv.DictReader(f, fieldnames=['Name','Age','Email','Address','Job'])
    for row in dict_reader:
        userlist.append(row)
# 파일의 내용을 userlist에 담기
userlist

[{'Name': '홍길동',
  'Age': '20',
  'Email': 'kildong@hong.com',
  'Address': '서울시 관악구',
  'Job': ''},
 {'Name': '김길동',
  'Age': '25',
  'Email': 'kimdong@hong.com',
  'Address': '서울시 동작구',
  'Job': '주임'},
 {'Name': '신길동',
  'Age': '21',
  'Email': 'sindong@hong.com',
  'Address': '서울시 금천구',
  'Job': ''}]

## 3.4 DictWriter
- 딕셔너리 리스트 를 csv 파일로 쓰기

In [38]:
user1 = {'Name':'홍길동','Age':'20','Email':'kildong@hong.com','Address':'서울시 관악구'}
user2 = {'Name':'신길동','Age':'25','Email':'sindong@hong.com','Address':'서울시 동작구'}
user3 = {'Name':'김길동','Age':'30','Email':'kimdong@hong.com','Address':'서울시 금천구'}
user_list = [user1, user2, user3]
fieldnames = list(user1.keys())
print(fieldnames)

['Name', 'Age', 'Email', 'Address']

```
csv 파일 내용
name,age,email,address
홍길동,20,g@g.com,서울
```

In [39]:
with open('data/ch09_member4.csv', 'a', encoding='utf-8', newline='') as f:
    dict_writer = csv.DictWriter(f, fieldnames=fieldnames)
#     dict_writer.writeheader()
#     for user in user_list:
#         dict_writer.writerow(user)
    dict_writer.writerows(user_list)

# 4절. JSON 파일에 저장하고 불러오기(dump, load)
## 4.1 JSON dump(파일에 저장)
1. 딕셔너리 리스트 데이터를 json파일로 
2. 객체 리스트 데이터를 json파일로

In [40]:
data = [{'name':'홍길동', 'age':20, 'email':'h@h.com', 'address':'서울'},
        {'name':'김길동', 'age':25, 'email':'k@h.com', 'address':'대구'},
        {'name':'신길동', 'age':30, 'email':'s@h.com', 'address':'대전'}]

In [41]:
#1. 딕셔너리 리스트를 json 파일로 저장(dump)
# ensure_ascii=True <는 기본값 / 해당 옵션의 역할 : ASCII 코드 범위를 넘어서는 문자는 어떻게 처리할지
# True(기본값) : ASCII 코드 범위를 넘어간 한글은 유니코드로 저장
# False : 비 ASCII 문자 원래 형태로 그대로 저장 하겠다 
# indent= ' ' > 들여쓰기
import json
with open('data/ch09_member1.json', 'w') as jsonfile:
    json.dump(data, # 딕셔너리 리스트
              jsonfile, ensure_ascii=False, indent=' ')

In [42]:
# 2. 객체 리스트를 json 파일로 저장(dump)
class Member:
    def __init__(self, name, age, email, address):
        self.name = name
        self.age = age
        self.email = email
        self.address = address
    def as_dict(self):
        '객체를 딕셔너리로 바꿔 return 하는 함수(json.dump시 필요함!)'
        return {"name":self.name,
                "age":self.age,
                "email":self.email,
                "address":self.address}
    def __str__(self):
        return "이름 : {}, 나이 : {}, 메일 : {}, \t주소 : {}".format(self.name,
                                                            self.age,
                                                            self.email,
                                                            self.address)
    def __eq__(self, other):
        '''
        m1.__eq__(m2) 호출시 두 객체의 속성변수들의 값이 모두 일치하는지 여부
        m1 == m2 구현시 두 객체의 속성변수들의 값이 모두 일치하는지 여부
        '''
        if isinstance(other, Member):
            return self.name==other.name and \
                   self.age==other.age and \
                   self.email==other.email and\
                   self.address==other.address
        else:
            return False

In [43]:
member_list = [Member("홍길동", 20, "h@h.com", "서울"),
              Member("김길동", 25, "kim@h.com", "대전"),
              Member("신길동", 30, "sin@h.com", "대구"),]

In [44]:
for member in member_list:
    print(member)

이름 : 홍길동, 나이 : 20, 메일 : h@h.com, 	주소 : 서울
이름 : 김길동, 나이 : 25, 메일 : kim@h.com, 	주소 : 대전
이름 : 신길동, 나이 : 30, 메일 : sin@h.com, 	주소 : 대구

In [45]:
with open('data/ch09_member2.json', 'w', encoding='UTF-8') as jsonfile:
    json.dump(member_list, # 객체 리스트
             jsonfile, ensure_ascii=False, indent=' ', 
             default=Member.as_dict) # 객체를 딕셔너리형태로 return하는 인스턴스 함수

In [46]:
# 현재 세션(현재 실행중인 jupyter notebook)에 존재하는 변수들의 목록
# 매직 명령어 : jupyter notebook 의 IPYTHON 환경에서만 제공
%whos

Variable         Type             Data/Info
-------------------------------------------
Member           type             <class '__main__.Member'>
autopep8         module           <module 'autopep8' from '<...>e-packages\\autopep8.py'>
csv              module           <module 'csv' from 'C:\\U<...>\anaconda3\\lib\\csv.py'>
data             list             n=3
dict_reader      DictReader       <csv.DictReader object at 0x0000014632EB2B90>
dict_writer      DictWriter       <csv.DictWriter object at 0x00000146307C59C0>
f                TextIOWrapper    <_io.TextIOWrapper name='<...>ode='a' encoding='utf-8'>
fieldnames       list             n=4
idx              int              2
json             module           <module 'json' from 'C:\\<...>\lib\\json\\__init__.py'>
jsonfile         TextIOWrapper    <_io.TextIOWrapper name='<...>ode='w' encoding='UTF-8'>
line             str              김길동, 20, 안양\n
lines            list             n=0
load_user_list   list             n=3
member           Member           이름 : 신길동, 나이 : 30, 메일 : sin@h.com, 	주소 : 대구
member_list      list             n=3
pd               module           <module 'pandas' from 'C:<...>es\\pandas\\__init__.py'>
pickle           module           <module 'pickle' from 'C:<...>aconda3\\lib\\pickle.py'>
reader           reader           <_csv.reader object at 0x0000014630C49600>
result           list             n=3
row              dict             n=5
textlist         list             n=2
user             list             n=4
user1            dict             n=4
user2            dict             n=4
user3            dict             n=4
user_dict        list             n=3
user_list        list             n=3
userlist         list             n=3
writer           writer           <_csv.writer object at 0x0000014630BF3700>
yapf_reformat    function         <function yapf_reformat at 0x0000014630AAF640>

## 4.2 JSON load(파일 읽기)
1. json파일을 딕셔너리 리스트 변수로 읽기
2. json파일을 객체 리스트 변수로 읽기

In [47]:
# 1. json파일을 딕셔너리 리스트로 
with open('data/ch09_member1.json') as jsonfile:
    load_data = json.load(jsonfile)
for row in load_data:
    print(row)

{'name': '홍길동', 'age': 20, 'email': 'h@h.com', 'address': '서울'}
{'name': '김길동', 'age': 25, 'email': 'k@h.com', 'address': '대구'}
{'name': '신길동', 'age': 30, 'email': 's@h.com', 'address': '대전'}

In [48]:
type(load_data), type(load_data[0])

(list, dict)

In [49]:
# 2. json 파일(ch09_member2.json)을 객체 리스트로

In [50]:
def as_member(dic):
    '딕셔너리 데이터를 매개변수로 받아 객체로 반환 하는 함수'
    return Member(dic['name'],dic['age'],dic['email'],dic["address"])

In [51]:
with open('data/ch09_member2.json', 'r', encoding='UTF-8')as jsonfile:
    load_member_list = json.load(jsonfile, object_hook=as_member)

In [52]:
type(load_member_list), type(load_member_list[0])

(list, __main__.Member)

In [53]:
# member_list => ch09_member2.json => load_member_list

In [54]:
# member_list 와 load_member_list의 모든 데이터가 일치하는지 확인
result = []
for idx in range(len(member_list)):
    result.append(member_list[idx]==load_member_list[idx])
print('두 객체 리스트의 모든 데이터가 일치하는지 여부 :', all(result))

두 객체 리스트의 모든 데이터가 일치하는지 여부 : True

In [55]:
# json파일을 데이터프레임 으로 읽기
import pandas as pd
member = pd.read_json('data/ch09_member2.json') # utf-8 기본값 으로 들어가있음
member

  name  age      email address
0  홍길동   20    h@h.com      서울
1  김길동   25  kim@h.com      대전
2  신길동   30  sin@h.com      대구

In [56]:
# open : 함수의 기본 encoding은 기본 함수 CP949
# pd.read_ : 함수의 기본 encoding은 UTF-8

In [57]:
member = pd.read_json('data/ch09_member1.json', encoding='cp949')
member

  name  age    email address
0  홍길동   20  h@h.com      서울
1  김길동   25  k@h.com      대구
2  신길동   30  s@h.com      대전

In [58]:
type(member)

pandas.core.frame.DataFrame

# 5절. hdf5파일 쓰기/읽기(딕셔너리, 데이터프레임)
- h5py 사용
## 5.1 hdf5파일 쓰기
1. 딕셔너리 데이터를 hdf5파일에 쓰기
2. 데이터프레임을 hdf5파일에 쓰기

In [59]:
import seaborn as sns
iris_df = sns.load_dataset("iris")
iris_df

     sepal_length  sepal_width  petal_length  petal_width    species
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[150 rows x 5 columns]

In [60]:
type(iris_df)

pandas.core.frame.DataFrame

In [61]:
iris_df.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [62]:
iris_dic = iris_df.to_dict() # 데이터 프레임 변수를 딕셔너리로 형변환
iris_dic

{'sepal_length': {0: 5.1,
  1: 4.9,
  2: 4.7,
  3: 4.6,
  4: 5.0,
  5: 5.4,
  6: 4.6,
  7: 5.0,
  8: 4.4,
  9: 4.9,
  10: 5.4,
  11: 4.8,
  12: 4.8,
  13: 4.3,
  14: 5.8,
  15: 5.7,
  16: 5.4,
  17: 5.1,
  18: 5.7,
  19: 5.1,
  20: 5.4,
  21: 5.1,
  22: 4.6,
  23: 5.1,
  24: 4.8,
  25: 5.0,
  26: 5.0,
  27: 5.2,
  28: 5.2,
  29: 4.7,
  30: 4.8,
  31: 5.4,
  32: 5.2,
  33: 5.5,
  34: 4.9,
  35: 5.0,
  36: 5.5,
  37: 4.9,
  38: 4.4,
  39: 5.1,
  40: 5.0,
  41: 4.5,
  42: 4.4,
  43: 5.0,
  44: 5.1,
  45: 4.8,
  46: 5.1,
  47: 4.6,
  48: 5.3,
  49: 5.0,
  50: 7.0,
  51: 6.4,
  52: 6.9,
  53: 5.5,
  54: 6.5,
  55: 5.7,
  56: 6.3,
  57: 4.9,
  58: 6.6,
  59: 5.2,
  60: 5.0,
  61: 5.9,
  62: 6.0,
  63: 6.1,
  64: 5.6,
  65: 6.7,
  66: 5.6,
  67: 5.8,
  68: 6.2,
  69: 5.6,
  70: 5.9,
  71: 6.1,
  72: 6.3,
  73: 6.1,
  74: 6.4,
  75: 6.6,
  76: 6.8,
  77: 6.7,
  78: 6.0,
  79: 5.7,
  80: 5.5,
  81: 5.5,
  82: 5.8,
  83: 6.0,
  84: 5.4,
  85: 6.0,
  86: 6.7,
  87: 6.3,
  88: 5.6,
  89: 5.5,
  90: 5.5,
  91: 6.1,
  92: 5.8,
  93: 5.0,
  94: 5.6,
  95: 5.7,
  96: 5.7,
  97: 6.2,
  98: 5.1,
  99: 5.7,
  100: 6.3,
  101: 5.8,
  102: 7.1,
  103: 6.3,
  104: 6.5,
  105: 7.6,
  106: 4.9,
  107: 7.3,
  108: 6.7,
  109: 7.2,
  110: 6.5,
  111: 6.4,
  112: 6.8,
  113: 5.7,
  114: 5.8,
  115: 6.4,
  116: 6.5,
  117: 7.7,
  118: 7.7,
  119: 6.0,
  120: 6.9,
  121: 5.6,
  122: 7.7,
  123: 6.3,
  124: 6.7,
  125: 7.2,
  126: 6.2,
  127: 6.1,
  128: 6.4,
  129: 7.2,
  130: 7.4,
  131: 7.9,
  132: 6.4,
  133: 6.3,
  134: 6.1,
  135: 7.7,
  136: 6.3,
  137: 6.4,
  138: 6.0,
  139: 6.9,
  140: 6.7,
  141: 6.9,
  142: 5.8,
  143: 6.8,
  144: 6.7,
  145: 6.7,
  146: 6.3,
  147: 6.5,
  148: 6.2,
  149: 5.9},
 'sepal_width': {0: 3.5,
  1: 3.0,
  2: 3.2,
  3: 3.1,
  4: 3.6,
  5: 3.9,
  6: 3.4,
  7: 3.4,
  8: 2.9,
  9: 3.1,
  10: 3.7,
  11: 3.4,
  12: 3.0,
  13: 3.0,
  14: 4.0,
  15: 4.4,
  16: 3.9,
  17: 3.5,
  18: 3.8,
  19: 3.8,
  20: 3.4,
  21: 3.7,
  22: 3.6,
  23: 3.3,
  24: 3.4,
  25: 3.0,
  26: 3.4,
  27: 3.5,
  28: 3.4,
  29: 3.2,
  30: 3.1,
  31: 3.4,
  32: 4.1,
  33: 4.2,
  34: 3.1,
  35: 3.2,
  36: 3.5,
  37: 3.6,
  38: 3.0,
  39: 3.4,
  40: 3.5,
  41: 2.3,
  42: 3.2,
  43: 3.5,
  44: 3.8,
  45: 3.0,
  46: 3.8,
  47: 3.2,
  48: 3.7,
  49: 3.3,
  50: 3.2,
  51: 3.2,
  52: 3.1,
  53: 2.3,
  54: 2.8,
  55: 2.8,
  56: 3.3,
  57: 2.4,
  58: 2.9,
  59: 2.7,
  60: 2.0,
  61: 3.0,
  62: 2.2,
  63: 2.9,
  64: 2.9,
  65: 3.1,
  66: 3.0,
  67: 2.7,
  68: 2.2,
  69: 2.5,
  70: 3.2,
  71: 2.8,
  72: 2.5,
  73: 2.8,
  74: 2.9,
  75: 3.0,
  76: 2.8,
  77: 3.0,
  78: 2.9,
  79: 2.6,
  80: 2.4,
  81: 2.4,
  82: 2.7,
  83: 2.7,
  84: 3.0,
  85: 3.4,
  86: 3.1,
  87: 2.3,
  88: 3.0,
  89: 2.5,
  90: 2.6,
  91: 3.0,
  92: 2.6,
  93: 2.3,
  94: 2.7,
  95: 3.0,
  96: 2.9,
  97: 2.9,
  98: 2.5,
  99: 2.8,
  100: 3.3,
  101: 2.7,
  102: 3.0,
  103: 2.9,
  104: 3.0,
  105: 3.0,
  106: 2.5,
  107: 2.9,
  108: 2.5,
  109: 3.6,
  110: 3.2,
  111: 2.7,
  112: 3.0,
  113: 2.5,
  114: 2.8,
  115: 3.2,
  116: 3.0,
  117: 3.8,
  118: 2.6,
  119: 2.2,
  120: 3.2,
  121: 2.8,
  122: 2.8,
  123: 2.7,
  124: 3.3,
  125: 3.2,
  126: 2.8,
  127: 3.0,
  128: 2.8,
  129: 3.0,
  130: 2.8,
  131: 3.8,
  132: 2.8,
  133: 2.8,
  134: 2.6,
  135: 3.0,
  136: 3.4,
  137: 3.1,
  138: 3.0,
  139: 3.1,
  140: 3.1,
  141: 3.1,
  142: 2.7,
  143: 3.2,
  144: 3.3,
  145: 3.0,
  146: 2.5,
  147: 3.0,
  148: 3.4,
  149: 3.0},
 'petal_length': {0: 1.4,
  1: 1.4,
  2: 1.3,
  3: 1.5,
  4: 1.4,
  5: 1.7,
  6: 1.4,
  7: 1.5,
  8: 1.4,
  9: 1.5,
  10: 1.5,
  11: 1.6,
  12: 1.4,
  13: 1.1,
  14: 1.2,
  15: 1.5,
  16: 1.3,
  17: 1.4,
  18: 1.7,
  19: 1.5,
  20: 1.7,
  21: 1.5,
  22: 1.0,
  23: 1.7,
  24: 1.9,
  25: 1.6,
  26: 1.6,
  27: 1.5,
  28: 1.4,
  29: 1.6,
  30: 1.6,
  31: 1.5,
  32: 1.5,
  33: 1.4,
  34: 1.5,
  35: 1.2,
  36: 1.3,
  37: 1.4,
  38: 1.3,
  39: 1.5,
  40: 1.3,
  41: 1.3,
  42: 1.3,
  43: 1.6,
  44: 1.9,
  45: 1.4,
  46: 1.6,
  47: 1.4,
  48: 1.5,
  49: 1.4,
  50: 4.7,
  51: 4.5,
  52: 4.9,
  53: 4.0,
  54: 4.6,
  55: 4.5,
  56: 4.7,
  57: 3.3,
  58: 4.6,
  59: 3.9,
  60: 3.5,
  61: 4.2,
  62: 4.0,
  63: 4.7,
  64: 3.6,
  65: 4.4,
  66: 4.5,
  67: 4.1,
  68: 4.5,
  69: 3.9,
  70: 4.8,
  71: 4.0,
  72: 4.9,
  73: 4.7,
  74: 4.3,
  75: 4.4,
  76: 4.8,
  77: 5.0,
  78: 4.5,
  79: 3.5,
  80: 3.8,
  81: 3.7,
  82: 3.9,
  83: 5.1,
  84: 4.5,
  85: 4.5,
  86: 4.7,
  87: 4.4,
  88: 4.1,
  89: 4.0,
  90: 4.4,
  91: 4.6,
  92: 4.0,
  93: 3.3,
  94: 4.2,
  95: 4.2,
  96: 4.2,
  97: 4.3,
  98: 3.0,
  99: 4.1,
  100: 6.0,
  101: 5.1,
  102: 5.9,
  103: 5.6,
  104: 5.8,
  105: 6.6,
  106: 4.5,
  107: 6.3,
  108: 5.8,
  109: 6.1,
  110: 5.1,
  111: 5.3,
  112: 5.5,
  113: 5.0,
  114: 5.1,
  115: 5.3,
  116: 5.5,
  117: 6.7,
  118: 6.9,
  119: 5.0,
  120: 5.7,
  121: 4.9,
  122: 6.7,
  123: 4.9,
  124: 5.7,
  125: 6.0,
  126: 4.8,
  127: 4.9,
  128: 5.6,
  129: 5.8,
  130: 6.1,
  131: 6.4,
  132: 5.6,
  133: 5.1,
  134: 5.6,
  135: 6.1,
  136: 5.6,
  137: 5.5,
  138: 4.8,
  139: 5.4,
  140: 5.6,
  141: 5.1,
  142: 5.1,
  143: 5.9,
  144: 5.7,
  145: 5.2,
  146: 5.0,
  147: 5.2,
  148: 5.4,
  149: 5.1},
 'petal_width': {0: 0.2,
  1: 0.2,
  2: 0.2,
  3: 0.2,
  4: 0.2,
  5: 0.4,
  6: 0.3,
  7: 0.2,
  8: 0.2,
  9: 0.1,
  10: 0.2,
  11: 0.2,
  12: 0.1,
  13: 0.1,
  14: 0.2,
  15: 0.4,
  16: 0.4,
  17: 0.3,
  18: 0.3,
  19: 0.3,
  20: 0.2,
  21: 0.4,
  22: 0.2,
  23: 0.5,
  24: 0.2,
  25: 0.2,
  26: 0.4,
  27: 0.2,
  28: 0.2,
  29: 0.2,
  30: 0.2,
  31: 0.4,
  32: 0.1,
  33: 0.2,
  34: 0.2,
  35: 0.2,
  36: 0.2,
  37: 0.1,
  38: 0.2,
  39: 0.2,
  40: 0.3,
  41: 0.3,
  42: 0.2,
  43: 0.6,
  44: 0.4,
  45: 0.3,
  46: 0.2,
  47: 0.2,
  48: 0.2,
  49: 0.2,
  50: 1.4,
  51: 1.5,
  52: 1.5,
  53: 1.3,
  54: 1.5,
  55: 1.3,
  56: 1.6,
  57: 1.0,
  58: 1.3,
  59: 1.4,
  60: 1.0,
  61: 1.5,
  62: 1.0,
  63: 1.4,
  64: 1.3,
  65: 1.4,
  66: 1.5,
  67: 1.0,
  68: 1.5,
  69: 1.1,
  70: 1.8,
  71: 1.3,
  72: 1.5,
  73: 1.2,
  74: 1.3,
  75: 1.4,
  76: 1.4,
  77: 1.7,
  78: 1.5,
  79: 1.0,
  80: 1.1,
  81: 1.0,
  82: 1.2,
  83: 1.6,
  84: 1.5,
  85: 1.6,
  86: 1.5,
  87: 1.3,
  88: 1.3,
  89: 1.3,
  90: 1.2,
  91: 1.4,
  92: 1.2,
  93: 1.0,
  94: 1.3,
  95: 1.2,
  96: 1.3,
  97: 1.3,
  98: 1.1,
  99: 1.3,
  100: 2.5,
  101: 1.9,
  102: 2.1,
  103: 1.8,
  104: 2.2,
  105: 2.1,
  106: 1.7,
  107: 1.8,
  108: 1.8,
  109: 2.5,
  110: 2.0,
  111: 1.9,
  112: 2.1,
  113: 2.0,
  114: 2.4,
  115: 2.3,
  116: 1.8,
  117: 2.2,
  118: 2.3,
  119: 1.5,
  120: 2.3,
  121: 2.0,
  122: 2.0,
  123: 1.8,
  124: 2.1,
  125: 1.8,
  126: 1.8,
  127: 1.8,
  128: 2.1,
  129: 1.6,
  130: 1.9,
  131: 2.0,
  132: 2.2,
  133: 1.5,
  134: 1.4,
  135: 2.3,
  136: 2.4,
  137: 1.8,
  138: 1.8,
  139: 2.1,
  140: 2.4,
  141: 2.3,
  142: 1.9,
  143: 2.3,
  144: 2.5,
  145: 2.3,
  146: 1.9,
  147: 2.0,
  148: 2.3,
  149: 1.8},
 'species': {0: 'setosa',
  1: 'setosa',
  2: 'setosa',
  3: 'setosa',
  4: 'setosa',
  5: 'setosa',
  6: 'setosa',
  7: 'setosa',
  8: 'setosa',
  9: 'setosa',
  10: 'setosa',
  11: 'setosa',
  12: 'setosa',
  13: 'setosa',
  14: 'setosa',
  15: 'setosa',
  16: 'setosa',
  17: 'setosa',
  18: 'setosa',
  19: 'setosa',
  20: 'setosa',
  21: 'setosa',
  22: 'setosa',
  23: 'setosa',
  24: 'setosa',
  25: 'setosa',
  26: 'setosa',
  27: 'setosa',
  28: 'setosa',
  29: 'setosa',
  30: 'setosa',
  31: 'setosa',
  32: 'setosa',
  33: 'setosa',
  34: 'setosa',
  35: 'setosa',
  36: 'setosa',
  37: 'setosa',
  38: 'setosa',
  39: 'setosa',
  40: 'setosa',
  41: 'setosa',
  42: 'setosa',
  43: 'setosa',
  44: 'setosa',
  45: 'setosa',
  46: 'setosa',
  47: 'setosa',
  48: 'setosa',
  49: 'setosa',
  50: 'versicolor',
  51: 'versicolor',
  52: 'versicolor',
  53: 'versicolor',
  54: 'versicolor',
  55: 'versicolor',
  56: 'versicolor',
  57: 'versicolor',
  58: 'versicolor',
  59: 'versicolor',
  60: 'versicolor',
  61: 'versicolor',
  62: 'versicolor',
  63: 'versicolor',
  64: 'versicolor',
  65: 'versicolor',
  66: 'versicolor',
  67: 'versicolor',
  68: 'versicolor',
  69: 'versicolor',
  70: 'versicolor',
  71: 'versicolor',
  72: 'versicolor',
  73: 'versicolor',
  74: 'versicolor',
  75: 'versicolor',
  76: 'versicolor',
  77: 'versicolor',
  78: 'versicolor',
  79: 'versicolor',
  80: 'versicolor',
  81: 'versicolor',
  82: 'versicolor',
  83: 'versicolor',
  84: 'versicolor',
  85: 'versicolor',
  86: 'versicolor',
  87: 'versicolor',
  88: 'versicolor',
  89: 'versicolor',
  90: 'versicolor',
  91: 'versicolor',
  92: 'versicolor',
  93: 'versicolor',
  94: 'versicolor',
  95: 'versicolor',
  96: 'versicolor',
  97: 'versicolor',
  98: 'versicolor',
  99: 'versicolor',
  100: 'virginica',
  101: 'virginica',
  102: 'virginica',
  103: 'virginica',
  104: 'virginica',
  105: 'virginica',
  106: 'virginica',
  107: 'virginica',
  108: 'virginica',
  109: 'virginica',
  110: 'virginica',
  111: 'virginica',
  112: 'virginica',
  113: 'virginica',
  114: 'virginica',
  115: 'virginica',
  116: 'virginica',
  117: 'virginica',
  118: 'virginica',
  119: 'virginica',
  120: 'virginica',
  121: 'virginica',
  122: 'virginica',
  123: 'virginica',
  124: 'virginica',
  125: 'virginica',
  126: 'virginica',
  127: 'virginica',
  128: 'virginica',
  129: 'virginica',
  130: 'virginica',
  131: 'virginica',
  132: 'virginica',
  133: 'virginica',
  134: 'virginica',
  135: 'virginica',
  136: 'virginica',
  137: 'virginica',
  138: 'virginica',
  139: 'virginica',
  140: 'virginica',
  141: 'virginica',
  142: 'virginica',
  143: 'virginica',
  144: 'virginica',
  145: 'virginica',
  146: 'virginica',
  147: 'virginica',
  148: 'virginica',
  149: 'virginica'}}

In [63]:
list(iris_dic.keys()) #hdf파일에 출력시 group이 될 키

['sepal_length', 'sepal_width', 'petal_length', 'petal_width', 'species']

In [64]:
for group, value in iris_dic.items():
    print('그룹명 :',group)
    print(value)

그룹명 : sepal_length
{0: 5.1, 1: 4.9, 2: 4.7, 3: 4.6, 4: 5.0, 5: 5.4, 6: 4.6, 7: 5.0, 8: 4.4, 9: 4.9, 10: 5.4, 11: 4.8, 12: 4.8, 13: 4.3, 14: 5.8, 15: 5.7, 16: 5.4, 17: 5.1, 18: 5.7, 19: 5.1, 20: 5.4, 21: 5.1, 22: 4.6, 23: 5.1, 24: 4.8, 25: 5.0, 26: 5.0, 27: 5.2, 28: 5.2, 29: 4.7, 30: 4.8, 31: 5.4, 32: 5.2, 33: 5.5, 34: 4.9, 35: 5.0, 36: 5.5, 37: 4.9, 38: 4.4, 39: 5.1, 40: 5.0, 41: 4.5, 42: 4.4, 43: 5.0, 44: 5.1, 45: 4.8, 46: 5.1, 47: 4.6, 48: 5.3, 49: 5.0, 50: 7.0, 51: 6.4, 52: 6.9, 53: 5.5, 54: 6.5, 55: 5.7, 56: 6.3, 57: 4.9, 58: 6.6, 59: 5.2, 60: 5.0, 61: 5.9, 62: 6.0, 63: 6.1, 64: 5.6, 65: 6.7, 66: 5.6, 67: 5.8, 68: 6.2, 69: 5.6, 70: 5.9, 71: 6.1, 72: 6.3, 73: 6.1, 74: 6.4, 75: 6.6, 76: 6.8, 77: 6.7, 78: 6.0, 79: 5.7, 80: 5.5, 81: 5.5, 82: 5.8, 83: 6.0, 84: 5.4, 85: 6.0, 86: 6.7, 87: 6.3, 88: 5.6, 89: 5.5, 90: 5.5, 91: 6.1, 92: 5.8, 93: 5.0, 94: 5.6, 95: 5.7, 96: 5.7, 97: 6.2, 98: 5.1, 99: 5.7, 100: 6.3, 101: 5.8, 102: 7.1, 103: 6.3, 104: 6.5, 105: 7.6, 106: 4.9, 107: 7.3, 108: 6.7, 109: 7.2, 110: 6.5, 111: 6.4, 112: 6.8, 113: 5.7, 114: 5.8, 115: 6.4, 116: 6.5, 117: 7.7, 118: 7.7, 119: 6.0, 120: 6.9, 121: 5.6, 122: 7.7, 123: 6.3, 124: 6.7, 125: 7.2, 126: 6.2, 127: 6.1, 128: 6.4, 129: 7.2, 130: 7.4, 131: 7.9, 132: 6.4, 133: 6.3, 134: 6.1, 135: 7.7, 136: 6.3, 137: 6.4, 138: 6.0, 139: 6.9, 140: 6.7, 141: 6.9, 142: 5.8, 143: 6.8, 144: 6.7, 145: 6.7, 146: 6.3, 147: 6.5, 148: 6.2, 149: 5.9}
그룹명 : sepal_width
{0: 3.5, 1: 3.0, 2: 3.2, 3: 3.1, 4: 3.6, 5: 3.9, 6: 3.4, 7: 3.4, 8: 2.9, 9: 3.1, 10: 3.7, 11: 3.4, 12: 3.0, 13: 3.0, 14: 4.0, 15: 4.4, 16: 3.9, 17: 3.5, 18: 3.8, 19: 3.8, 20: 3.4, 21: 3.7, 22: 3.6, 23: 3.3, 24: 3.4, 25: 3.0, 26: 3.4, 27: 3.5, 28: 3.4, 29: 3.2, 30: 3.1, 31: 3.4, 32: 4.1, 33: 4.2, 34: 3.1, 35: 3.2, 36: 3.5, 37: 3.6, 38: 3.0, 39: 3.4, 40: 3.5, 41: 2.3, 42: 3.2, 43: 3.5, 44: 3.8, 45: 3.0, 46: 3.8, 47: 3.2, 48: 3.7, 49: 3.3, 50: 3.2, 51: 3.2, 52: 3.1, 53: 2.3, 54: 2.8, 55: 2.8, 56: 3.3, 57: 2.4, 58: 2.9, 59: 2.7, 60: 2.0, 61: 3.0, 62: 2.2, 63: 2.9, 64: 2.9, 65: 3.1, 66: 3.0, 67: 2.7, 68: 2.2, 69: 2.5, 70: 3.2, 71: 2.8, 72: 2.5, 73: 2.8, 74: 2.9, 75: 3.0, 76: 2.8, 77: 3.0, 78: 2.9, 79: 2.6, 80: 2.4, 81: 2.4, 82: 2.7, 83: 2.7, 84: 3.0, 85: 3.4, 86: 3.1, 87: 2.3, 88: 3.0, 89: 2.5, 90: 2.6, 91: 3.0, 92: 2.6, 93: 2.3, 94: 2.7, 95: 3.0, 96: 2.9, 97: 2.9, 98: 2.5, 99: 2.8, 100: 3.3, 101: 2.7, 102: 3.0, 103: 2.9, 104: 3.0, 105: 3.0, 106: 2.5, 107: 2.9, 108: 2.5, 109: 3.6, 110: 3.2, 111: 2.7, 112: 3.0, 113: 2.5, 114: 2.8, 115: 3.2, 116: 3.0, 117: 3.8, 118: 2.6, 119: 2.2, 120: 3.2, 121: 2.8, 122: 2.8, 123: 2.7, 124: 3.3, 125: 3.2, 126: 2.8, 127: 3.0, 128: 2.8, 129: 3.0, 130: 2.8, 131: 3.8, 132: 2.8, 133: 2.8, 134: 2.6, 135: 3.0, 136: 3.4, 137: 3.1, 138: 3.0, 139: 3.1, 140: 3.1, 141: 3.1, 142: 2.7, 143: 3.2, 144: 3.3, 145: 3.0, 146: 2.5, 147: 3.0, 148: 3.4, 149: 3.0}
그룹명 : petal_length
{0: 1.4, 1: 1.4, 2: 1.3, 3: 1.5, 4: 1.4, 5: 1.7, 6: 1.4, 7: 1.5, 8: 1.4, 9: 1.5, 10: 1.5, 11: 1.6, 12: 1.4, 13: 1.1, 14: 1.2, 15: 1.5, 16: 1.3, 17: 1.4, 18: 1.7, 19: 1.5, 20: 1.7, 21: 1.5, 22: 1.0, 23: 1.7, 24: 1.9, 25: 1.6, 26: 1.6, 27: 1.5, 28: 1.4, 29: 1.6, 30: 1.6, 31: 1.5, 32: 1.5, 33: 1.4, 34: 1.5, 35: 1.2, 36: 1.3, 37: 1.4, 38: 1.3, 39: 1.5, 40: 1.3, 41: 1.3, 42: 1.3, 43: 1.6, 44: 1.9, 45: 1.4, 46: 1.6, 47: 1.4, 48: 1.5, 49: 1.4, 50: 4.7, 51: 4.5, 52: 4.9, 53: 4.0, 54: 4.6, 55: 4.5, 56: 4.7, 57: 3.3, 58: 4.6, 59: 3.9, 60: 3.5, 61: 4.2, 62: 4.0, 63: 4.7, 64: 3.6, 65: 4.4, 66: 4.5, 67: 4.1, 68: 4.5, 69: 3.9, 70: 4.8, 71: 4.0, 72: 4.9, 73: 4.7, 74: 4.3, 75: 4.4, 76: 4.8, 77: 5.0, 78: 4.5, 79: 3.5, 80: 3.8, 81: 3.7, 82: 3.9, 83: 5.1, 84: 4.5, 85: 4.5, 86: 4.7, 87: 4.4, 88: 4.1, 89: 4.0, 90: 4.4, 91: 4.6, 92: 4.0, 93: 3.3, 94: 4.2, 95: 4.2, 96: 4.2, 97: 4.3, 98: 3.0, 99: 4.1, 100: 6.0, 101: 5.1, 102: 5.9, 103: 5.6, 104: 5.8, 105: 6.6, 106: 4.5, 107: 6.3, 108: 5.8, 109: 6.1, 110: 5.1, 111: 5.3, 112: 5.5, 113: 5.0, 114: 5.1, 115: 5.3, 116: 5.5, 117: 6.7, 118: 6.9, 119: 5.0, 120: 5.7, 121: 4.9, 122: 6.7, 123: 4.9, 124: 5.7, 125: 6.0, 126: 4.8, 127: 4.9, 128: 5.6, 129: 5.8, 130: 6.1, 131: 6.4, 132: 5.6, 133: 5.1, 134: 5.6, 135: 6.1, 136: 5.6, 137: 5.5, 138: 4.8, 139: 5.4, 140: 5.6, 141: 5.1, 142: 5.1, 143: 5.9, 144: 5.7, 145: 5.2, 146: 5.0, 147: 5.2, 148: 5.4, 149: 5.1}
그룹명 : petal_width
{0: 0.2, 1: 0.2, 2: 0.2, 3: 0.2, 4: 0.2, 5: 0.4, 6: 0.3, 7: 0.2, 8: 0.2, 9: 0.1, 10: 0.2, 11: 0.2, 12: 0.1, 13: 0.1, 14: 0.2, 15: 0.4, 16: 0.4, 17: 0.3, 18: 0.3, 19: 0.3, 20: 0.2, 21: 0.4, 22: 0.2, 23: 0.5, 24: 0.2, 25: 0.2, 26: 0.4, 27: 0.2, 28: 0.2, 29: 0.2, 30: 0.2, 31: 0.4, 32: 0.1, 33: 0.2, 34: 0.2, 35: 0.2, 36: 0.2, 37: 0.1, 38: 0.2, 39: 0.2, 40: 0.3, 41: 0.3, 42: 0.2, 43: 0.6, 44: 0.4, 45: 0.3, 46: 0.2, 47: 0.2, 48: 0.2, 49: 0.2, 50: 1.4, 51: 1.5, 52: 1.5, 53: 1.3, 54: 1.5, 55: 1.3, 56: 1.6, 57: 1.0, 58: 1.3, 59: 1.4, 60: 1.0, 61: 1.5, 62: 1.0, 63: 1.4, 64: 1.3, 65: 1.4, 66: 1.5, 67: 1.0, 68: 1.5, 69: 1.1, 70: 1.8, 71: 1.3, 72: 1.5, 73: 1.2, 74: 1.3, 75: 1.4, 76: 1.4, 77: 1.7, 78: 1.5, 79: 1.0, 80: 1.1, 81: 1.0, 82: 1.2, 83: 1.6, 84: 1.5, 85: 1.6, 86: 1.5, 87: 1.3, 88: 1.3, 89: 1.3, 90: 1.2, 91: 1.4, 92: 1.2, 93: 1.0, 94: 1.3, 95: 1.2, 96: 1.3, 97: 1.3, 98: 1.1, 99: 1.3, 100: 2.5, 101: 1.9, 102: 2.1, 103: 1.8, 104: 2.2, 105: 2.1, 106: 1.7, 107: 1.8, 108: 1.8, 109: 2.5, 110: 2.0, 111: 1.9, 112: 2.1, 113: 2.0, 114: 2.4, 115: 2.3, 116: 1.8, 117: 2.2, 118: 2.3, 119: 1.5, 120: 2.3, 121: 2.0, 122: 2.0, 123: 1.8, 124: 2.1, 125: 1.8, 126: 1.8, 127: 1.8, 128: 2.1, 129: 1.6, 130: 1.9, 131: 2.0, 132: 2.2, 133: 1.5, 134: 1.4, 135: 2.3, 136: 2.4, 137: 1.8, 138: 1.8, 139: 2.1, 140: 2.4, 141: 2.3, 142: 1.9, 143: 2.3, 144: 2.5, 145: 2.3, 146: 1.9, 147: 2.0, 148: 2.3, 149: 1.8}
그룹명 : species
{0: 'setosa', 1: 'setosa', 2: 'setosa', 3: 'setosa', 4: 'setosa', 5: 'setosa', 6: 'setosa', 7: 'setosa', 8: 'setosa', 9: 'setosa', 10: 'setosa', 11: 'setosa', 12: 'setosa', 13: 'setosa', 14: 'setosa', 15: 'setosa', 16: 'setosa', 17: 'setosa', 18: 'setosa', 19: 'setosa', 20: 'setosa', 21: 'setosa', 22: 'setosa', 23: 'setosa', 24: 'setosa', 25: 'setosa', 26: 'setosa', 27: 'setosa', 28: 'setosa', 29: 'setosa', 30: 'setosa', 31: 'setosa', 32: 'setosa', 33: 'setosa', 34: 'setosa', 35: 'setosa', 36: 'setosa', 37: 'setosa', 38: 'setosa', 39: 'setosa', 40: 'setosa', 41: 'setosa', 42: 'setosa', 43: 'setosa', 44: 'setosa', 45: 'setosa', 46: 'setosa', 47: 'setosa', 48: 'setosa', 49: 'setosa', 50: 'versicolor', 51: 'versicolor', 52: 'versicolor', 53: 'versicolor', 54: 'versicolor', 55: 'versicolor', 56: 'versicolor', 57: 'versicolor', 58: 'versicolor', 59: 'versicolor', 60: 'versicolor', 61: 'versicolor', 62: 'versicolor', 63: 'versicolor', 64: 'versicolor', 65: 'versicolor', 66: 'versicolor', 67: 'versicolor', 68: 'versicolor', 69: 'versicolor', 70: 'versicolor', 71: 'versicolor', 72: 'versicolor', 73: 'versicolor', 74: 'versicolor', 75: 'versicolor', 76: 'versicolor', 77: 'versicolor', 78: 'versicolor', 79: 'versicolor', 80: 'versicolor', 81: 'versicolor', 82: 'versicolor', 83: 'versicolor', 84: 'versicolor', 85: 'versicolor', 86: 'versicolor', 87: 'versicolor', 88: 'versicolor', 89: 'versicolor', 90: 'versicolor', 91: 'versicolor', 92: 'versicolor', 93: 'versicolor', 94: 'versicolor', 95: 'versicolor', 96: 'versicolor', 97: 'versicolor', 98: 'versicolor', 99: 'versicolor', 100: 'virginica', 101: 'virginica', 102: 'virginica', 103: 'virginica', 104: 'virginica', 105: 'virginica', 106: 'virginica', 107: 'virginica', 108: 'virginica', 109: 'virginica', 110: 'virginica', 111: 'virginica', 112: 'virginica', 113: 'virginica', 114: 'virginica', 115: 'virginica', 116: 'virginica', 117: 'virginica', 118: 'virginica', 119: 'virginica', 120: 'virginica', 121: 'virginica', 122: 'virginica', 123: 'virginica', 124: 'virginica', 125: 'virginica', 126: 'virginica', 127: 'virginica', 128: 'virginica', 129: 'virginica', 130: 'virginica', 131: 'virginica', 132: 'virginica', 133: 'virginica', 134: 'virginica', 135: 'virginica', 136: 'virginica', 137: 'virginica', 138: 'virginica', 139: 'virginica', 140: 'virginica', 141: 'virginica', 142: 'virginica', 143: 'virginica', 144: 'virginica', 145: 'virginica', 146: 'virginica', 147: 'virginica', 148: 'virginica', 149: 'virginica'}

In [65]:
for group, value in iris_dic.items():
    print('그룹 :', group)
    for key, data in value.items():
        print('{}:{}'.format(str(key), data), end='\t')
    print()

그룹 : sepal_length
0:5.1	1:4.9	2:4.7	3:4.6	4:5.0	5:5.4	6:4.6	7:5.0	8:4.4	9:4.9	10:5.4	11:4.8	12:4.8	13:4.3	14:5.8	15:5.7	16:5.4	17:5.1	18:5.7	19:5.1	20:5.4	21:5.1	22:4.6	23:5.1	24:4.8	25:5.0	26:5.0	27:5.2	28:5.2	29:4.7	30:4.8	31:5.4	32:5.2	33:5.5	34:4.9	35:5.0	36:5.5	37:4.9	38:4.4	39:5.1	40:5.0	41:4.5	42:4.4	43:5.0	44:5.1	45:4.8	46:5.1	47:4.6	48:5.3	49:5.0	50:7.0	51:6.4	52:6.9	53:5.5	54:6.5	55:5.7	56:6.3	57:4.9	58:6.6	59:5.2	60:5.0	61:5.9	62:6.0	63:6.1	64:5.6	65:6.7	66:5.6	67:5.8	68:6.2	69:5.6	70:5.9	71:6.1	72:6.3	73:6.1	74:6.4	75:6.6	76:6.8	77:6.7	78:6.0	79:5.7	80:5.5	81:5.5	82:5.8	83:6.0	84:5.4	85:6.0	86:6.7	87:6.3	88:5.6	89:5.5	90:5.5	91:6.1	92:5.8	93:5.0	94:5.6	95:5.7	96:5.7	97:6.2	98:5.1	99:5.7	100:6.3	101:5.8	102:7.1	103:6.3	104:6.5	105:7.6	106:4.9	107:7.3	108:6.7	109:7.2	110:6.5	111:6.4	112:6.8	113:5.7	114:5.8	115:6.4	116:6.5	117:7.7	118:7.7	119:6.0	120:6.9	121:5.6	122:7.7	123:6.3	124:6.7	125:7.2	126:6.2	127:6.1	128:6.4	129:7.2	130:7.4	131:7.9	132:6.4	133:6.3	134:6.1	135:7.7	136:6.3	137:6.4	138:6.0	139:6.9	140:6.7	141:6.9	142:5.8	143:6.8	144:6.7	145:6.7	146:6.3	147:6.5	148:6.2	149:5.9
그룹 : sepal_width
0:3.5	1:3.0	2:3.2	3:3.1	4:3.6	5:3.9	6:3.4	7:3.4	8:2.9	9:3.1	10:3.7	11:3.4	12:3.0	13:3.0	14:4.0	15:4.4	16:3.9	17:3.5	18:3.8	19:3.8	20:3.4	21:3.7	22:3.6	23:3.3	24:3.4	25:3.0	26:3.4	27:3.5	28:3.4	29:3.2	30:3.1	31:3.4	32:4.1	33:4.2	34:3.1	35:3.2	36:3.5	37:3.6	38:3.0	39:3.4	40:3.5	41:2.3	42:3.2	43:3.5	44:3.8	45:3.0	46:3.8	47:3.2	48:3.7	49:3.3	50:3.2	51:3.2	52:3.1	53:2.3	54:2.8	55:2.8	56:3.3	57:2.4	58:2.9	59:2.7	60:2.0	61:3.0	62:2.2	63:2.9	64:2.9	65:3.1	66:3.0	67:2.7	68:2.2	69:2.5	70:3.2	71:2.8	72:2.5	73:2.8	74:2.9	75:3.0	76:2.8	77:3.0	78:2.9	79:2.6	80:2.4	81:2.4	82:2.7	83:2.7	84:3.0	85:3.4	86:3.1	87:2.3	88:3.0	89:2.5	90:2.6	91:3.0	92:2.6	93:2.3	94:2.7	95:3.0	96:2.9	97:2.9	98:2.5	99:2.8	100:3.3	101:2.7	102:3.0	103:2.9	104:3.0	105:3.0	106:2.5	107:2.9	108:2.5	109:3.6	110:3.2	111:2.7	112:3.0	113:2.5	114:2.8	115:3.2	116:3.0	117:3.8	118:2.6	119:2.2	120:3.2	121:2.8	122:2.8	123:2.7	124:3.3	125:3.2	126:2.8	127:3.0	128:2.8	129:3.0	130:2.8	131:3.8	132:2.8	133:2.8	134:2.6	135:3.0	136:3.4	137:3.1	138:3.0	139:3.1	140:3.1	141:3.1	142:2.7	143:3.2	144:3.3	145:3.0	146:2.5	147:3.0	148:3.4	149:3.0
그룹 : petal_length
0:1.4	1:1.4	2:1.3	3:1.5	4:1.4	5:1.7	6:1.4	7:1.5	8:1.4	9:1.5	10:1.5	11:1.6	12:1.4	13:1.1	14:1.2	15:1.5	16:1.3	17:1.4	18:1.7	19:1.5	20:1.7	21:1.5	22:1.0	23:1.7	24:1.9	25:1.6	26:1.6	27:1.5	28:1.4	29:1.6	30:1.6	31:1.5	32:1.5	33:1.4	34:1.5	35:1.2	36:1.3	37:1.4	38:1.3	39:1.5	40:1.3	41:1.3	42:1.3	43:1.6	44:1.9	45:1.4	46:1.6	47:1.4	48:1.5	49:1.4	50:4.7	51:4.5	52:4.9	53:4.0	54:4.6	55:4.5	56:4.7	57:3.3	58:4.6	59:3.9	60:3.5	61:4.2	62:4.0	63:4.7	64:3.6	65:4.4	66:4.5	67:4.1	68:4.5	69:3.9	70:4.8	71:4.0	72:4.9	73:4.7	74:4.3	75:4.4	76:4.8	77:5.0	78:4.5	79:3.5	80:3.8	81:3.7	82:3.9	83:5.1	84:4.5	85:4.5	86:4.7	87:4.4	88:4.1	89:4.0	90:4.4	91:4.6	92:4.0	93:3.3	94:4.2	95:4.2	96:4.2	97:4.3	98:3.0	99:4.1	100:6.0	101:5.1	102:5.9	103:5.6	104:5.8	105:6.6	106:4.5	107:6.3	108:5.8	109:6.1	110:5.1	111:5.3	112:5.5	113:5.0	114:5.1	115:5.3	116:5.5	117:6.7	118:6.9	119:5.0	120:5.7	121:4.9	122:6.7	123:4.9	124:5.7	125:6.0	126:4.8	127:4.9	128:5.6	129:5.8	130:6.1	131:6.4	132:5.6	133:5.1	134:5.6	135:6.1	136:5.6	137:5.5	138:4.8	139:5.4	140:5.6	141:5.1	142:5.1	143:5.9	144:5.7	145:5.2	146:5.0	147:5.2	148:5.4	149:5.1
그룹 : petal_width
0:0.2	1:0.2	2:0.2	3:0.2	4:0.2	5:0.4	6:0.3	7:0.2	8:0.2	9:0.1	10:0.2	11:0.2	12:0.1	13:0.1	14:0.2	15:0.4	16:0.4	17:0.3	18:0.3	19:0.3	20:0.2	21:0.4	22:0.2	23:0.5	24:0.2	25:0.2	26:0.4	27:0.2	28:0.2	29:0.2	30:0.2	31:0.4	32:0.1	33:0.2	34:0.2	35:0.2	36:0.2	37:0.1	38:0.2	39:0.2	40:0.3	41:0.3	42:0.2	43:0.6	44:0.4	45:0.3	46:0.2	47:0.2	48:0.2	49:0.2	50:1.4	51:1.5	52:1.5	53:1.3	54:1.5	55:1.3	56:1.6	57:1.0	58:1.3	59:1.4	60:1.0	61:1.5	62:1.0	63:1.4	64:1.3	65:1.4	66:1.5	67:1.0	68:1.5	69:1.1	70:1.8	71:1.3	72:1.5	73:1.2	74:1.3	75:1.4	76:1.4	77:1.7	78:1.5	79:1.0	80:1.1	81:1.0	82:1.2	83:1.6	84:1.5	85:1.6	86:1.5	87:1.3	88:1.3	89:1.3	90:1.2	91:1.4	92:1.2	93:1.0	94:1.3	95:1.2	96:1.3	97:1.3	98:1.1	99:1.3	100:2.5	101:1.9	102:2.1	103:1.8	104:2.2	105:2.1	106:1.7	107:1.8	108:1.8	109:2.5	110:2.0	111:1.9	112:2.1	113:2.0	114:2.4	115:2.3	116:1.8	117:2.2	118:2.3	119:1.5	120:2.3	121:2.0	122:2.0	123:1.8	124:2.1	125:1.8	126:1.8	127:1.8	128:2.1	129:1.6	130:1.9	131:2.0	132:2.2	133:1.5	134:1.4	135:2.3	136:2.4	137:1.8	138:1.8	139:2.1	140:2.4	141:2.3	142:1.9	143:2.3	144:2.5	145:2.3	146:1.9	147:2.0	148:2.3	149:1.8
그룹 : species
0:setosa	1:setosa	2:setosa	3:setosa	4:setosa	5:setosa	6:setosa	7:setosa	8:setosa	9:setosa	10:setosa	11:setosa	12:setosa	13:setosa	14:setosa	15:setosa	16:setosa	17:setosa	18:setosa	19:setosa	20:setosa	21:setosa	22:setosa	23:setosa	24:setosa	25:setosa	26:setosa	27:setosa	28:setosa	29:setosa	30:setosa	31:setosa	32:setosa	33:setosa	34:setosa	35:setosa	36:setosa	37:setosa	38:setosa	39:setosa	40:setosa	41:setosa	42:setosa	43:setosa	44:setosa	45:setosa	46:setosa	47:setosa	48:setosa	49:setosa	50:versicolor	51:versicolor	52:versicolor	53:versicolor	54:versicolor	55:versicolor	56:versicolor	57:versicolor	58:versicolor	59:versicolor	60:versicolor	61:versicolor	62:versicolor	63:versicolor	64:versicolor	65:versicolor	66:versicolor	67:versicolor	68:versicolor	69:versicolor	70:versicolor	71:versicolor	72:versicolor	73:versicolor	74:versicolor	75:versicolor	76:versicolor	77:versicolor	78:versicolor	79:versicolor	80:versicolor	81:versicolor	82:versicolor	83:versicolor	84:versicolor	85:versicolor	86:versicolor	87:versicolor	88:versicolor	89:versicolor	90:versicolor	91:versicolor	92:versicolor	93:versicolor	94:versicolor	95:versicolor	96:versicolor	97:versicolor	98:versicolor	99:versicolor	100:virginica	101:virginica	102:virginica	103:virginica	104:virginica	105:virginica	106:virginica	107:virginica	108:virginica	109:virginica	110:virginica	111:virginica	112:virginica	113:virginica	114:virginica	115:virginica	116:virginica	117:virginica	118:virginica	119:virginica	120:virginica	121:virginica	122:virginica	123:virginica	124:virginica	125:virginica	126:virginica	127:virginica	128:virginica	129:virginica	130:virginica	131:virginica	132:virginica	133:virginica	134:virginica	135:virginica	136:virginica	137:virginica	138:virginica	139:virginica	140:virginica	141:virginica	142:virginica	143:virginica	144:virginica	145:virginica	146:virginica	147:virginica	148:virginica	149:virginica

In [66]:
# 딕셔너리 데이터를 hdf파일로 쓰기
import h5py
with h5py.File('data/ch09_iris.hdf5', 'w') as f:
    for group, value in iris_dic.items():
        grp = f.create_group(group)
        for key, data in value.items():
            grp.create_dataset(str(key), data=data)

PermissionError: [Errno 13] Unable to create file (file write failed: time = Tue Nov 19 16:18:04 2024
, filename = 'data/ch09_iris.hdf5', file descriptor = 3, errno = 13, error message = 'Permission denied', buf = 000001463489ADB8, total write size = 96, bytes this sub-write = 96, bytes actually written = 18446744073709551615, offset = 0)

In [ ]:
# 데이터프레임을 hdf파일로 쓰기
iris_df.to_hdf('data/ch09_iris2.hdf5', key='iris')

In [ ]:
iris_df

## 5.2 hdf5 파일 읽기
1. hdf5파일에서 데이터프레임으로 읽기 
2. hdf5파일에서 딕셔너리로 읽기

In [ ]:
# hdf5파일에서 데이터프레임 변수로 읽어오기
load_iris_df = pd.read_hdf('data/ch09_iris2.hdf5', key='iris')
load_iris_df

In [ ]:
# hdf파일을 딕셔너리 변수로 읽어오기

In [ ]:
dict_data = {}
dict_data['name'] = '홍길동'
dict_data

In [ ]:
dict_data = {}
dict_data.update({'name':'홍길동'})
dict_data

In [ ]:
# hdf5 파일의 내용을 읽어 출력하기
with h5py.File('data/ch09_iris.hdf5', 'r') as f:
    for group, value in f.items():
        print('그룹 :', group)
        for key, data in value.items():
            print('{}:{}'.format(key, data[()]), end='\t')

In [ ]:
# hdf5 파일의 내용을 딕셔너리에 담기 
iris_dic2 = {}
with h5py.File('data/ch09_iris.hdf5', 'r') as f:
    for group, value in f.items():
        cols = {}
        for key, data in value.items():
#             cols[int(key)] = data[()]
            cols.update({int(key) : data[()]})
        iris_dic2[group] = cols

In [ ]:
for group, value in iris_dic2.items():
    print('그룹 :',group)
    print(value)
    print()

# 6절. 연습문제 : 고객관리
- 프로그램 실행 시작시 : 
    * 'data/ch09_customers.txt'(프로그램 실행시 백업용 데이터) 파일이 있으면 파일 input 
    * 'data/ch09_customers.txt' 파일이 없으면 빈 파일 생성
    * 'data/ch09_customers.txt' 파일 내용 :
    ```
        홍길동, 010-5131-3156, hong@h.com, 30, 5, 열심히 
        김길동, 010-5211-3216, kim@h.com, 35, 5, 대충
        유길동, 010-1235-9063, yu@h.com, 20, 2, 까칠해
    ```
- Customer 클래스 작성(고객데이터 타입)
    * __init__, __str__, as_dic(csv파일출력을위해서), to_list_style(txt파일 출력을 위해 list)
- 1 입력

In [95]:
class Customer:
    def __init__(self, name, tel, email, age, grade, etc):
        self.name = name
        self.tel = tel
        self.email = email
        self.age = age
        self.grade = grade
        self.etc = etc
    def as_dic(self):
        return {'name' : self.name,
               'tel' : self.tel,
               'email' : self.email,
               'age' : self.age,
               'grade' : self.grade,
               'etc' : self.etc}
    def to_list_style(self):
        temp = [self.grade, self.name, self.tel, self.email, self.age, self.etc]
        return ','.join(temp)
    def __str__(self):
        return "{:>5} {:3} {:15} {:15} {:3} {}".format('*'*self.grade,
                                                                 self.name,
                                                                 self.tel,
                                                                 self.email,
                                                                 self.age,
                                                                 self.etc)
    # :>5 :3 :15 :15 :3

In [ ]:
def to_customer(row):
    data = row.strip().split(',')
    name = data[0]
    tel = int(data[1].strip()) # strip은 앞뒤 white space 제거
    email = data[2].strip()
    age = int(data[3].strip())
    grade = int(data[4].strip())
    etc = data[5].strip()
    return Customer(name, tel, email, age, grade, etc)

In [97]:
def load_customer():
    customer_list = []
    try:
        with open('data/ch09_customer.txt','r', encoding='utf-8') as f:
            rows = f.readlines()
            for row in rows:
                try:
                    customer = to_customer(row)
                    customer_list.append(customer)
                except ValueError as e:
                    print(e)
    except FileNotFoundError:
        with open('data/ch09_customer.txt','w', encoding='utf-8') as f:
            f.write('')
    return customer_list

In [98]:
def fn1_insert_customer_info():
    print("고객 정보 입력")
    name = input("이름: ")
    tel = input("전화번호: ")
    email = input("이메일: ")
    age = input("나이: ")
    etc = input("기타 정보: ")
    grade = int(input("등급 (숫자): "))
    return Customer(name, tel, email, age, grade, etc)

In [99]:
def fn2_print_customers(customer_list):
    print('=======================================================')
    print("\t\t\t고객 정보")
    print('-------------------------------------------------------')
    print('GRADE\t이름\t전화\t\t메일\t나이\t기타\t')
    for customer in customer_list:
        print(customer)

In [100]:
def fn3_delete_customer(customer_list):
    print("고객 삭제")
    name = input("삭제하실 고객 이름 :").strip()
    delete_flag = False
    for customer in customer_list:
        if customer.name == name:
            customer_list.remove(customer)
            delete_flag = True
    if delete_flag:
        print("{} 해당 고객을 삭제했습니다.".format(name))
    else:
        print("{} 해당 고객은 저희 고객이 아닙니다".format(name))

In [101]:
result = []
def fn4_search_customer(customer_list):
    print("검색할 고객 정보")
    name = input("검색하실 고객 이름 :").strip()
    name_ = False
    for customer in customer_list:
        if name in customer.name:
            name_ = True
    if name_:
        print(customer)
    else:
        print("검색하신 {} 고객은 존재하지 않습니다.".format(name))

In [102]:
def fn5_save_customer_csv(customer_list):
    with open('data/ch09_customer.csv', 'w', encoding='utf-8') as f:
        writer = csv.writer(f, quoting=csv.QUOTE_NONNUMERIC)
        writer.writerows(customer_list)

In [103]:
def fn9_save_customer_txt(customer_list):
    print("고객 정보 txt 저장")
    filename = "data/ch09_customer.txt"
    with open(filename, mode='w', encoding='utf-8') as file:
        for customer in customer_list:
            file.write(str(customer) + '\n')
    print("{} 파일에 저장되었습니다.".format(filename))

In [ ]:
def main():
    global customer_list
    customer_list = load_customer()
    while True:
        print("1:입력 "," 2:전체출력 "," 3:삭제 "," 4:이름찾기 "," 5:내보내기 (CSV)", " 9:종료 ", sep=' | ', end='')
        fn = int(input('메뉴선택 :'))
        if fn == 1:
            customer = fn1_insert_customer_info() 
            customer_list.append(customer)
        elif fn == 2:
            fn2_print_customers(customer_list)
        elif fn == 3:
            fn3_delete_customer(customer_list)
        elif fn == 4:
            fn4_search_customer(customer_list)
        elif fn == 5:
            fn5_save_customer_csv(customer_list)
        elif fn == 9:
            fn9_save_customer_txt(customer_list)
            break
if __name__ == '__main__':
    main()