In [1]:
import cx_Oracle
# 없으면 pip install cx_Oracle 진행

In [3]:
dsn = cx_Oracle.makedsn(host='localhost',
                       port=1521,
                       sid='xe')
dsn

'(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=localhost)(PORT=1521))(CONNECT_DATA=(SID=xe)))'

In [4]:
conn = cx_Oracle.connect(user='scott',
                        password='tiger',
                        dsn=dsn)
conn

In [5]:
# EMP 테이블의 모든 정보 출력
cursor = conn.cursor() # SQL 문 전송 및 결과 받는 객체
sql = "SELECT * FROM EMP"
cursor.execute(sql)
emps = cursor.fetchall() # sql문 결과를 튜플 list 로
emps

[(7369,
  'SMITH',
  'CLERK',
  7902,
  datetime.datetime(1980, 12, 17, 0, 0),
  800.0,
  None,
  20),
 (7499,
  'ALLEN',
  'SALESMAN',
  7698,
  datetime.datetime(1981, 2, 20, 0, 0),
  1600.0,
  300.0,
  30),
 (7521,
  'WARD',
  'SALESMAN',
  7698,
  datetime.datetime(1981, 2, 22, 0, 0),
  1250.0,
  500.0,
  30),
 (7566,
  'JONES',
  'MANAGER',
  7839,
  datetime.datetime(1981, 4, 2, 0, 0),
  2975.0,
  None,
  20),
 (7654,
  'MARTIN',
  'SALESMAN',
  7698,
  datetime.datetime(1981, 9, 28, 0, 0),
  1250.0,
  1400.0,
  30),
 (7698,
  'BLAKE',
  'MANAGER',
  7839,
  datetime.datetime(1981, 5, 1, 0, 0),
  2850.0,
  None,
  30),
 (7782,
  'CLARK',
  'MANAGER',
  7839,
  datetime.datetime(1981, 6, 9, 0, 0),
  2450.0,
  None,
  10),
 (7788,
  'SCOTT',
  'ANALYST',
  7566,
  datetime.datetime(1982, 12, 9, 0, 0),
  3000.0,
  None,
  20),
 (7839,
  'KING',
  'PRESIDENT',
  None,
  datetime.datetime(1981, 11, 17, 0, 0),
  5000.0,
  None,
  10),
 (7844,
  'TURNER',
  'SALESMAN',
  7698,
  datetime.datetime(1981, 9, 8, 0, 0),
  1500.0,
  0.0,
  30),
 (7876,
  'ADAMS',
  'CLERK',
  7788,
  datetime.datetime(1983, 1, 12, 0, 0),
  1100.0,
  None,
  20),
 (7900,
  'JAMES',
  'CLERK',
  7698,
  datetime.datetime(1981, 12, 3, 0, 0),
  950.0,
  None,
  30),
 (7902,
  'FORD',
  'ANALYST',
  7566,
  datetime.datetime(1981, 12, 3, 0, 0),
  3000.0,
  None,
  20),
 (7934,
  'MILLER',
  'CLERK',
  7782,
  datetime.datetime(1982, 1, 23, 0, 0),
  1300.0,
  None,
  10)]